__pycache__/
**/__pycache__/
*.pyc
*.pyo
.vscode
.env
.venv
.venv/
**/.venv/
.ipynb
.git
.gitignore
.gitattributes
<!-- swe-bench -->
logs/
swe_bench/
initial_swe/

<!-- polyglot -->
polyglot/
initial_polyglot/

<!-- outputs -->
output_hgm/
results/
<!-- misc -->
misc/
<!-- README.md -->
Dockerfile
.dockerignore

<!-- code outside of coding agent -->
